<% if @episodes.any? %>
  <ul role="list" class="divide-y divide-mist-950/5 dark:divide-white/5">
    <% @episodes.each do |episode| %>
      <%= render "episode_card", episode: episode %>
    <% end %>
  </ul>

  <%= render "pagination", pagy: @pagy %>
<% else %>
  <div class="text-center py-16">
    <p class="text-lg text-mist-500 dark:text-mist-400 mb-6">No episodes yet</p>
    <%= link_to new_episode_path, class: button_classes(type: :primary) do %>
      + New Episode
    <% end %>
  </div>
<% end %>
