<h1>Welcome!</h1>

<p>Click the button below to log in to your account:</p>

<p><a href="<%= @magic_link_url %>">Log in to your account</a></p>

<p>This link will expire in 30 minutes.</p>

<p>If you didn't request this, you can safely ignore this email.</p>
