<% if notice.present? %>
  <div class="bg-[var(--color-green)]/10 border border-[var(--color-green)] text-[var(--color-green)] px-4 py-3 rounded-lg mb-6">
    <%= notice %>
  </div>
<% end %>

<% if alert.present? %>
  <div class="bg-[var(--color-red)]/10 border border-[var(--color-red)] text-[var(--color-red)] px-4 py-3 rounded-lg mb-6">
    <%= alert %>
  </div>
<% end %>
