<h1>Hello!</h1>

<p>Here is your <%= link_to "PodRead login link", @magic_link_url %>. It expires in 30 minutes.</p>

<p>If you didn't request this, you can safely ignore this email.</p>

<p style="font-size: 12px; color: #666;">Having trouble with the link? Copy and paste this URL into your browser:<br>
<%= @magic_link_url %></p>
